<!DOCTYPE html>
<html>
<head>
    <title>NarrativeIQ</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
</head>

<body>

<nav class="navbar">
    <h2>NarrativeIQ</h2>

    <div>
        <a href="/">Home</a>
        <a href="/dashboard">Dashboard</a>
        <a href="/articles">Articles</a>
        <a href="/about">About</a>
    </div>
</nav>

<div class="container">
    {% block content %}{% endblock %}
</div>

</body>
</html>