<!doctype html>
<html>
  <head>
    <title>NarrativeIQ</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </head>
  <body>
    <h1>NarrativeIQ</h1>

    <form method="POST">
      <input type="text" name="topic" placeholder="Enter topic" required />
      <button type="submit">Analyze</button>
    </form>

    <hr />

    <hr />

    <h2>Bias Metrics</h2>

    <p><strong>Bias Index:</strong> {{ bias_index }}</p>
    <p><strong>Polarization Score:</strong> {{ polarization }}</p>

    <h3>Source Sentiment</h3>

    <ul>
      {% for source in source_metrics %}
      <li>
        {{ source.source }} → Avg Sentiment: {{ source.avg_sentiment }} ({{
        source.article_count }} articles)
      </li>
      {% endfor %}
    </ul>
    <h2>Source Sentiment Comparison</h2>
    <canvas id="sentimentChart" width="400" height="150"></canvas>
    <hr />

    <h2>Fetched Articles</h2>

    {% for article in articles %}
    <div style="margin-bottom: 20px">
      <strong>{{ article.title }}</strong><br />
      <small>{{ article.source }}</small><br />
      <p>{{ article.description }}</p>
      <p>
        <strong>Sentiment:</strong> {{ article.sentiment_label }} ({{
        article.sentiment_score }})
      </p>
    </div>
    {% endfor %}
  </body>
</html>

<script>
const labels = {{ chart_labels | tojson }};
const dataValues = {{ chart_values | tojson }};

const ctx = document.getElementById('sentimentChart');

new Chart(ctx, {
    type: 'bar',
    data: {
        labels: labels,
        datasets: [{
            label: 'Average Sentiment Score',
            data: dataValues
        }]
    },
    options: {
        responsive: true,
        scales: {
            y: {
                min: -1,
                max: 1
            }
        }
    }
});
</script>